<!DOCTYPE html >
<html lang = "en" >
<head >
     <meta charset = "UTF-8" >
    <title>AlexNet神经网络打造的图像分类器</title>
    <script type="text/javascript">
        function ProcessFile() {
            var file = document.getElementById('file').files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var txt = event.target.result;

                    var img = document.createElement("img");
                    img.src = txt;
                    document.getElementById("result").appendChild(img);
                };
            }
            reader.readAsDataURL(file);
        }

        function contentLoaded() {
            document.getElementById('file').addEventListener('change',
                ProcessFile, false);
        }

        window.addEventListener("DOMContentLoaded", contentLoaded, false);
    </script>
</head>
<body>
    <form action="/api/" method="post" enctype="multipart/form-data">
        <P>
        <h4>上传一张图片</h4>
            <input type="submit" value="分类"><br>

         <h5>{{ message }}</h5>
    </form>
</body>
</html>
